<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>       
		<tab id="macfadyen" translate="label" sortOrder="610">
            <label>Macfadyen</label>
        </tab>
        <section id="homesliders" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Flexslider</label>
            <tab>macfadyen</tab>            
			<resource>Macfadyen_Flexslider::config</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>